<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.work.mapper.ExamMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.modular.work.entity.Exam">
        <id column="exam_id" property="examId"/>
        <result column="exam_name" property="examName"/>
        <result column="exam_type" property="examType"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
         exam_id AS "examId", exam_name AS "examName",  exam_type AS "examType",create_time AS "createTime"
    </sql>

    <sql id="Base_Column_List_With_Pwd">
		 user_id AS "userId", avatar AS "avatar", account AS "account", salt AS "salt", password AS "password", name AS "name", birthday AS "birthday", sex AS "sex", email AS "email", phone AS "phone", role_id AS "roleId", dept_id AS "deptId", status AS "status", create_time AS "createTime", create_user AS "createUser", update_time AS "updateTime", update_user AS "updateUser", version AS "version"
	</sql>

    <select id="selectExam" resultType="map">
        select
        <include refid="Base_Column_List"/>
        from work_exam
        where 1!= 0
        <if test="examName != null and examName != ''">
            and exam_name like '%${examName}%' <!--CONCAT('%',#{people_name,jdbcType=VARCHAR},'%'))-->
        </if>
        <if test="examType != null and examType != ''">
            and exam_type like '%${examType}%' <!--CONCAT('%',#{people_dept,jdbcType=VARCHAR},'%'))-->
        </if>

    </select>

    <select id="examByUserId" resultType="string">
        SELECT
	        CONCAT( e.NAME, "-", e.type )
        FROM
            work_exam AS e,
            work_exam_user AS eu
        WHERE
            eu.user_id = #{userId}
            AND e.id = eu.exam_id
    </select>

    <select id="finExamByUserIdAndType" resultType="cn.stylefeng.guns.modular.work.entity.Exam">
        SELECT
            e.*
        FROM
            work_exam e
            LEFT JOIN work_exam_user eu ON e.id = eu.exam_id
            where 1=1
            AND user_id = #{userId}
            AND e.type = #{type}
	</select>
    <select id="getDayTop" resultType="cn.stylefeng.guns.modular.work.entity.TopList">
     select u.name,h.score  from work_exam_history h LEFT JOIN sys_user u on u.user_id = h.user_id
     where h.score is not NULL and h.create_time  between CONCAT(#{date},' 00:00:00') and CONCAT(#{date},' 23:59:59')
    and h.exam_type=0 ORDER BY h.score desc
	</select>


    <select id="getMonthTop" resultType="cn.stylefeng.guns.modular.work.entity.TopList">
     select u.name,h.score  from work_exam_history h LEFT JOIN sys_user u on u.user_id = h.user_id
     where h.score is not NULL and PERIOD_DIFF( date_format( now( ) , '%Y%m' ) , date_format( h.create_time, '%Y%m' ) ) =1
    and h.exam_type=1 ORDER BY h.score desc
	</select>
</mapper>
