<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.work.mapper.ExerciseMapper">

    <select id="selectExercise" resultType="cn.stylefeng.guns.modular.work.entity.Exercise">
        SELECT
        *
        FROM
        work_exercise AS w
        <if test="condition.size > 0">
            WHERE
            1 != 1
        </if>
        <foreach collection="condition.entrySet()" item="item" index="key">
            <if test="key!=null and key!= ''">
                OR JSON_EXTRACT(w.label, CONCAT('$.','"${key}"')) = #{item}
            </if>
        </foreach>
    </select>

    <select id="exerciseMapper" resultType="cn.stylefeng.guns.modular.work.entity.Exercise">
        SELECT
        w.*,
        RAND( ) AS r
        FROM
        work_exercise AS w
        <if test="selector.size > 0">
            WHERE
            1 != 1
        </if>
        <foreach collection="selector.entrySet()" item="item" index="key">
            <if test="key!=null and key!= ''">
                OR JSON_EXTRACT(w.label, CONCAT('$.','"${key}"')) = #{item}
            </if>
        </foreach>
        ORDER BY
        r
        LIMIT 0,
        #{num}
    </select>
</mapper>